body {
    font-family: UberMoveText, system-ui, 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

ul {
    list-style: none;
}

li {
    display: block;
}

p,
body,
ul,
div,
h2,
input,
i,
button {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

h2 {
    font-size: 28px;
    font-weight: 500;
}

@media only screen and (min-width: 1135px) {
    h2 {
        font-size: 36px;
    }
}
